body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: #fff;
  margin: 0;
  height: 100dvh;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-color: #333c;
  padding: 20px;
  border-radius: 16px;
  width: clamp(450px, 50vw, 90%);
  box-shadow: -4px -6px 10px rgba(255, 255, 255, 0.05), 4px 6px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2em;
  margin: 20px 0;
}

#color-display, #guess-display {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin: 20px;
  box-shadow: -4px -6px 10px rgba(255, 255, 255, 0.05), 4px 6px 10px rgba(0, 0, 0, 0.5);
}

#color-display {
  background-color: #000;
}

#guess-display {
  background-color: #222;
}

input[type="text"] {
  font-size: 1.2em;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 110px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  background-color: #222;
  color: #fff;
  box-shadow: -4px -6px 10px rgba(255, 255, 255, 0.05), 4px 6px 10px rgba(0, 0, 0, 0.5);
  
}

#feedback {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-block: 20px;
  font-size: 1.2em;
}

.guess-wrapper {
  display: flex;
}

.guess {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: monospace;
}

.guess span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 5px;
  margin: 2px;
  width: 40px;
  border-radius: 3px;
  background-color: #444;
}

.correct {
  color: #4CAF50;
}

.nearby {
  color: #FFA500;
}

.too-far {
  color: #F44336;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  background-color: #24c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: -4px -6px 10px rgba(255, 255, 255, 0.05), 4px 6px 10px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #24a;
}

#message {
  margin-top: 20px;
  font-size: 1.2em;
}

.guide {
  position: absolute;
  top: 10px;
  right: 20px;
  text-align: right;
  font-size: 0.8em;
  z-index: 9999;
}

.guide .red {
  color: #F44336;
}

.guide .orange {
  color: #FFA500;
}

.guide .green {
  color: #4CAF50;
}

.guide i {
  margin-left: 10px;
}

.button-wrapper {
  display: flex;
  gap: 20px;
}

.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup.active {
  display: flex;
}

.popup-content {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  position: relative;
}

.popup-content button {
  background: none;
  box-shadow: none;
  border: none;
  color: #fff;
  font-size: 1.4em;
  cursor: pointer;
}

.popup-content button:first-child {
  position: absolute;
  right: 0px;
  top: 5px;
}

.popup-content button:last-child {
  font-size: 1.2rem;
  background-color: #24c;
  margin-top: 20px;
  box-shadow: -4px -6px 10px rgba(255, 255, 255, 0.05), 4px 6px 10px rgba(0, 0, 0, 0.1);
}

.popup-content button:last-child:hover {
  background-color: #24a;
  color: white;
}

.popup-content button:hover {
  color: #f00;
}

.attempt-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  padding: 10px;
  border-radius: 8px;
  box-shadow: -4px -6px 10px rgba(255, 255, 255, 0.05), 4px 6px 10px rgba(0, 0, 0, 0.1);
}

.attempt-row {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.attempt-row .correct i {
  color: #4CAF50;
}

.attempt-row .nearby{
  color: #FFA500;
}

.attempt-row .too-far {
  color: #F44336;
}

.attempt-row span {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 570px) {
  .wrapper {
    width: 85%;
  }

  .guide {
    font-size: 0.7rem;
  }

  #message {
    font-size: 0.9rem;
  }
}